* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

textarea {
  resize: none;
}

/* montserrat-regular - latin-ext_latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v14-latin-ext_latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-v14-latin-ext_latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-ext_latin-regular.woff") format("woff"), url("../fonts/montserrat-v14-latin-ext_latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v14-latin-ext_latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-500 - latin-ext_latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v14-latin-ext_latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/montserrat-v14-latin-ext_latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-latin-ext_latin-500.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-ext_latin-500.woff") format("woff"), url("../fonts/montserrat-v14-latin-ext_latin-500.ttf") format("truetype"), url("../fonts/montserrat-v14-latin-ext_latin-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-600 - latin-ext_latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v14-latin-ext_latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/montserrat-v14-latin-ext_latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-latin-ext_latin-600.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-ext_latin-600.woff") format("woff"), url("../fonts/montserrat-v14-latin-ext_latin-600.ttf") format("truetype"), url("../fonts/montserrat-v14-latin-ext_latin-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - latin-ext_latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v14-latin-ext_latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserrat-v14-latin-ext_latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-latin-ext_latin-700.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-ext_latin-700.woff") format("woff"), url("../fonts/montserrat-v14-latin-ext_latin-700.ttf") format("truetype"), url("../fonts/montserrat-v14-latin-ext_latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* oswald-500 - latin-ext_latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald-v35-latin-ext_latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/oswald-v35-latin-ext_latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-v35-latin-ext_latin-500.woff2") format("woff2"), url("../fonts/oswald-v35-latin-ext_latin-500.woff") format("woff"), url("../fonts/oswald-v35-latin-ext_latin-500.ttf") format("truetype"), url("../fonts/oswald-v35-latin-ext_latin-500.svg#Oswald") format("svg");
  /* Legacy iOS */
}
/* oswald-700 - latin-ext_latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/oswald-v35-latin-ext_latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/oswald-v35-latin-ext_latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-v35-latin-ext_latin-700.woff2") format("woff2"), url("../fonts/oswald-v35-latin-ext_latin-700.woff") format("woff"), url("../fonts/oswald-v35-latin-ext_latin-700.ttf") format("truetype"), url("../fonts/oswald-v35-latin-ext_latin-700.svg#Oswald") format("svg");
  /* Legacy iOS */
}
body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  position: relative;
  z-index: 5;
  max-width: 100%;
}

.header-inner {
  height: 130px;
  max-width: 100%;
  padding: 0 65px 0 61px;
  display: flex;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links {
  display: flex;
}

.nav-links_idea {
  display: flex;
  padding: 34px 0 0 0;
}

.nav-link {
  display: block;
  padding-bottom: 4px;
  margin-right: 34px;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}
.nav-link a {
  font-size: 18px;
  font-weight: 500;
  color: #060606;
}
.nav-link:last-child {
  margin-right: 0;
}
.nav-link:nth-child(4) {
  margin-right: 38px;
}
.nav-link:nth-child(3) {
  margin-right: 37px;
}
.nav-link:nth-child(2) {
  margin-right: 37px;
}
.nav-link:first-child {
  margin-right: 36px;
}
.nav-link:hover {
  border-bottom: 3px solid #ffa800;
}

.nav-link_active {
  pointer-events: none;
  cursor: default;
  border-bottom: 3px solid #ffa800;
}
.nav-link_active a {
  font-weight: 600;
}

.nav-lang {
  padding-bottom: 6px;
}

.language-bar_idea {
  padding: 34px 0 0 0;
}

.lang-link {
  font-size: 18px;
  font-weight: 500;
  color: #060606;
  padding-left: 65px;
}

.other-lang {
  display: none;
}

.intro-inner {
  margin-top: -72px;
  margin-bottom: 150px;
  min-height: 712px;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.intro-inner_bank {
  margin-top: 4px;
  margin-bottom: 150px;
  width: 100%;
  min-height: 769px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.intro-item {
  position: absolute;
  top: 45%;
  left: 47%;
  background: #fff;
  border-radius: 50%;
}

.idea-intro {
  padding: 75px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.idea-intro .idea-intro_title {
  margin-bottom: 60px;
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 71px;
  text-transform: uppercase;
  color: #2f4858;
}
.idea-intro .idea-intro_subtitle {
  font-size: 24px;
  color: #2f4858;
  font-weight: 500;
  text-align: center;
  margin-bottom: 92px;
  word-spacing: 1.5px;
}
.idea-intro .idea-intro_subtitle.more {
  margin-bottom: 143px;
}
.idea-intro .idea-intro_text {
  margin-bottom: 150px;
  max-width: 810px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #2f4858;
}
.idea-intro .idea-intro_text.short {
  padding: 0 102px;
}
.idea-intro .idea-intro_text.bottom95 {
  margin-bottom: 95px;
}
.idea-intro .idea-intro_ripped {
  max-width: 100%;
  position: relative;
  z-index: 5;
}

.dreams {
  display: flex;
  justify-content: center;
}
.dreams .dreams-item {
  margin: 0 121px;
  max-width: 394px;
  color: #2f4858;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dreams .dreams-item .dreams-img {
  margin-bottom: 53px;
}
.dreams .dreams-item .dreams-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.dreams .dreams-item .dreams-text {
  font-size: 18px;
  margin-bottom: 50px;
  flex: 1 1 auto;
}

.about-inner {
  display: flex;
  justify-content: center;
}

.about-content {
  text-align: center;
  padding-left: 5px;
  max-width: 654px;
  margin-bottom: 165px;
  font-size: 18px;
  font-weight: 400;
  color: #2f4858;
  line-height: 22px;
}

.gallery {
  margin-bottom: 173px;
}

.gallery-inner {
  max-width: 100vw;
  min-width: 100%;
  height: 364px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.gallery-inner .gallery-item {
  width: 100%;
  height: 100%;
}
.gallery-inner .gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.gallery-top,
.gallery-bottom {
  z-index: 5;
  max-width: 100vw;
  height: 35px;
}

.gallery-top {
  position: absolute;
  top: -15px;
  left: 0;
}

.gallery-bottom {
  position: absolute;
  bottom: -15px;
  left: 0;
}

.buttons-inner {
  display: flex;
  justify-content: center;
  padding: 0 152px 0 150px;
}

.buttons-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.buttons-title {
  margin-bottom: 42px;
  font-size: 24px;
  font-weight: 500;
  color: #2f4858;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

.buttons-btn {
  width: 233px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffa800;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  border-radius: 25px;
  margin-bottom: 151px;
  transition: all 0.3s linear;
}
.buttons-btn:hover {
  background-color: #ffda16;
}
.buttons-btn:active {
  background-color: #FF8A00;
}

.communication {
  display: flex;
  justify-content: center;
}

.communication-inner {
  max-width: 620px;
  width: 100%;
  padding: 4px 4px 0 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.communication-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #2f4858;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.communication-form {
  text-align: center;
  width: 100%;
}
.communication-form input,
.communication-form textarea {
  display: block;
  background: rgba(196, 196, 196, 0.4);
  border-radius: 6px;
  padding: 12px 12px 10px 12px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: normal;
  color: #2f4858;
}

.double-form {
  display: flex;
  justify-content: space-between;
}
.double-form input {
  min-width: 296px;
}

.comment-field {
  min-height: 232px;
}

.form-text {
  text-align: left;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 17px;
}
.form-text.more-top {
  margin-top: 30px;
}

.comments-check {
  display: flex;
  width: 100%;
  margin-bottom: 54px;
}
.comments-check .checkbox {
  display: none;
}
.comments-check p {
  width: 572px;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  color: #2f4858;
  padding: 0;
  text-align: left;
  padding-left: 23px;
}

.fake-checkbox {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background-color: #e7e7e7;
  position: relative;
}

.fake-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 12px;
  height: 12px;
  background-color: #ffda16;
  border-radius: 3px;
  opacity: 0;
  transition: 0.3s;
}

.checkbox:checked + .fake-checkbox::before {
  opacity: 1;
}

.form-submit {
  width: 182px;
  height: 62px;
  background-color: #ffa800;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  border-radius: 31px;
  margin-bottom: 150px;
  transition: background-color 0.3s linear;
}
.form-submit:hover {
  background-color: #ffda16;
}
.form-submit:active {
  background-color: #FF8A00;
}

.comments-after {
  display: none;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  color: #ffa800;
  text-align: center;
}
.comments-after .after-title {
  font-size: 24px;
  margin-top: 60px;
  margin-bottom: 30px;
}
.comments-after .after-text {
  font-size: 18px;
  margin-bottom: 192px;
}

.sponsors-inner {
  padding: 0 81px;
  height: 534px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/Union.png") center no-repeat;
  background-size: cover;
}

.sponsors-title {
  padding-top: 100px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #2f4858;
  text-transform: uppercase;
  margin-bottom: 62px;
}

.sponsors-content {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.idea-hero {
  width: 100%;
  height: 685px;
  margin-top: -30px;
}
.idea-hero .idea-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 65% 50%;
  background-repeat: no-repeat;
}
.idea-hero .idea-hero__inner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%);
}
.idea-hero .idea-hero__content {
  max-width: 858px;
  padding: 0 20px 72px 20px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
  color: #fff;
}

.idea-feedback__ripped {
  margin-top: -24px;
  margin-bottom: 146px;
  max-width: 100%;
  position: relative;
  z-index: 5;
}

.idea-feedback__slider {
  max-width: 642px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  color: #2f4858;
  margin: 0 auto;
}
.idea-feedback__slider .idea-feedback__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}
.idea-feedback__slider .idea-feedback__subtitle {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
}
.idea-feedback__slider .idea-feedback__text {
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1.4;
  margin-bottom: 30px;
}
.idea-feedback__slider .prev {
  padding-right: 41px;
}

.splide__arrows {
  width: 642px;
  margin: 0 auto 150px;
  padding: 0 20px;
}

.splide__arrow--prev {
  background-color: transparent;
  opacity: 0.4;
  transition: opacity 0.3s linear;
}
.splide__arrow--prev:hover, .splide__arrow--prev:active {
  opacity: 1;
}

.splide__arrow--next {
  padding-left: 40px;
  background-color: transparent;
  opacity: 0.4;
  transition: opacity 0.3s linear;
}
.splide__arrow--next:hover {
  opacity: 1;
}

.purpose-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.purpose-inner .purpose-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #2f4858;
  text-transform: uppercase;
  margin-bottom: 90px;
}

.purpose-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.purpose-item.item-last {
  margin-bottom: 150px;
}
.purpose-item.item-left {
  padding-right: 296px;
  margin-bottom: 113px;
}
.purpose-item .purpose-item_icon {
  max-width: 150px;
  margin-right: 62px;
  margin-left: 105px;
}
.purpose-item .purpose-item_text {
  width: 500px;
  font-size: 18px;
  line-height: 22px;
  color: #2f4858;
}
.purpose-item .purpose-item_text.text-left {
  text-align: right;
  margin-left: 34px;
  margin-right: -37px;
}

.mission-inner {
  display: flex;
  justify-content: center;
  text-align: center;
}
.mission-inner .mission-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #2f4858;
  text-transform: uppercase;
  margin-bottom: 52px;
}

.mission-subtitle {
  font-size: 24px;
  color: #2f4858;
  font-weight: 500;
  text-align: center;
  margin-bottom: 150px;
}

.mission-union {
  height: 533px;
  margin-bottom: 150px;
  padding-bottom: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../img/union.png") center no-repeat;
  background-size: cover;
}
.mission-union .mission-img {
  margin-bottom: 40px;
}
.mission-union .mission-img .mission-img_content {
  padding-right: 35px;
}
.mission-union .mission-text {
  max-width: 818px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.mission-union .mission-text.long {
  max-width: 1030px;
}

.selection-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.selection-inner .selection-item {
  max-width: 288px;
  margin: 0 120px 158px 120px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #2f4858;
}
.selection-inner .selection-item.up {
  margin-top: -60px;
}
.selection-inner .selection-item .selection-image {
  margin-bottom: 30px;
}

.support-form .form {
  display: flex;
  justify-content: center;
}
.support-form span {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #ffa800;
}
.support-form .support-select {
  width: 288px;
  margin: 0 15px 60px 15px;
}
.support-form .support-select select {
  display: block;
  width: 100%;
  background: rgba(196, 196, 196, 0.4);
  border-radius: 6px;
  padding: 12px 60px 10px 15px;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  color: #2f4858;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Remove default arrow */
  background-image: url("../img/select.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.addresses-inner {
  display: none;
  padding: 90px 0 27px 0;
  flex-direction: column;
  align-items: center;
}

.company-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 33px;
  max-width: 823px;
  width: 100%;
}
.company-block .address-content {
  display: flex;
  align-items: center;
  width: 606px;
  color: #2f4858;
}
.company-block .address-content .company-name {
  max-width: 288px;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
}
.company-block .address-content .company-contacts {
  max-width: 288px;
  width: 100%;
  margin-left: 30px;
  text-align: right;
  font-size: 18px;
  line-height: 22px;
}

.map-inner {
  height: 698px;
  max-width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
.map-inner .map-tools {
  position: absolute;
  right: 40px;
  bottom: 120px;
}
.map-inner .map-tools .tool-box {
  width: 57px;
  height: 57px;
  margin: 22px;
  position: relative;
  background: rgba(255, 168, 0, 0.5);
  border-radius: 14px;
  cursor: pointer;
  z-index: 100;
}
.map-inner .map-tools .tool-box .tool-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.map-inner .info {
  display: none;
}
.map-inner .info .info-pin {
  position: absolute;
  top: 355px;
  left: 467px;
}
.map-inner .info .info-inner {
  position: absolute;
  top: 291px;
  left: 515px;
  width: 486px;
  height: 174px;
  display: flex;
  padding: 22px 27px 25px 30px;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 168, 0, 0.5);
  border-radius: 14px;
}
.map-inner .info .info-content {
  text-align: right;
  color: #2f4858;
}
.map-inner .info .info-content .info-content_name {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 30px;
}
.map-inner .info .info-content .info-content_contacts {
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
}

.stories-inner {
  max-width: 1044px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 145px;
}

.stories-item {
  width: 160px;
  height: 160px;
  margin: 7px;
  background: url("../img/stories-bg.jpg");
  position: relative;
  cursor: pointer;
}
.stories-item .stories-name {
  width: 100%;
  height: 160px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.stories-item .stories-name .stories-img {
  opacity: 0.4;
}
.stories-item .stories-name:before,
.stories-item .stories-name:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transition: 0.4s;
}
.stories-item .stories-name:after {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  background: url("../img/stories-bg.jpg");
  transform: translateY(100%);
  content: attr(data-text);
}
.stories-item .stories-name:hover:before {
  transform: translateY(-50%);
}
.stories-item .stories-name:hover:after {
  transform: translateY(0);
}
.stories-item .stories-soon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.stories-item .stories-number {
  position: absolute;
  bottom: 0;
  right: 12px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 33px;
  color: #fff;
}

.stories-button {
  display: none;
}

.team-subtitle {
  width: 800px;
  margin: 0 auto;
  font-size: 24px;
  color: #2f4858;
  font-weight: 500;
  text-align: center;
  margin-bottom: 60px;
}

.team-inner {
  display: flex;
  justify-content: center;
}
.team-inner .member1 {
  background: url("../img/juris-2.jpg");
  background-size: cover;
  width: 289px;
  height: 365px;
  margin: 0 41px;
  margin-bottom: 150px;
}
.team-inner .member2 {
  background: url("../img/girts.jpg");
  background-size: cover;
  width: 289px;
  height: 365px;
  margin: 0 41px;
  margin-bottom: 150px;
}
.team-inner .member3 {
  background: url("../img/janis.jpg");
  background-size: cover;
  width: 289px;
  height: 365px;
  margin: 0 41px;
  margin-bottom: 150px;
}
.team-inner .team-member {
  width: 289px;
  height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(0deg, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%);
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.team-inner .team-member .member-name {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
}
.team-inner .team-member .member-title {
  font-size: 18px;
  padding: 0 10px;
  margin-bottom: 20px;
}

.e404-inner {
  background-color: #ffcb66;
  text-align: center;
  margin-top: -40px;
  position: relative;
}

.e404-titel {
  font-family: "Oswald", sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #fff;
  padding-top: 160px;
  margin-bottom: 40px;
}

.e404-subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #2f4858;
  margin-bottom: 30px;
}

.e404-text {
  font-size: 18px;
  color: #2f4858;
  margin-bottom: 50px;
}

.e404-link {
  display: flex;
  justify-content: center;
}

.btn-white {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 233px;
  height: 50px;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500;
  color: #ffa800;
  border-radius: 25px;
  margin-bottom: 220px;
  transition: all 0.3s linear;
}
.btn-white:hover {
  background-color: #ffda16;
  color: #fff;
}

.footer-inner {
  position: relative;
  z-index: 2;
  margin-top: -85px;
  padding: 0 62px;
  height: 376px;
  background: url("../img/footer.png");
}
.footer-inner a {
  opacity: 1;
  transition: opacity 0.3s linear;
}
.footer-inner a:hover {
  opacity: 0.7;
}

.footer-inner_idea {
  margin-top: 0;
}

.footer-content {
  width: 100%;
  height: 376px;
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}

.footer-item {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  margin-bottom: 73px;
}

.footer-copyright {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 17px;
}

.footer-link {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  line-height: 22px;
  padding-bottom: 22px;
  padding-left: 26px;
}
.footer-link:last-child {
  padding-bottom: 0;
}
.footer-link a {
  color: #fff;
  text-align: left;
}

.footer-contacts {
  text-align: right;
}

.properties-title,
.contacts-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #fff;
  margin-bottom: 17px;
}

.properties-text p,
.contacts-text p {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  margin-bottom: 10px;
}
.properties-text p:last-child,
.contacts-text p:last-child {
  margin-bottom: 0;
}

.contacts-text {
  margin-bottom: 52px;
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 51px;
}

.social-icon {
  padding-left: 29px;
}
.social-icon:first-child {
  padding-left: 0;
}

.policy-link {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.sfooter {
  display: none;
}

.sfooter-inner {
  position: relative;
  z-index: 2;
  margin-top: -85px;
  padding: 0 80px;
  background: url("../img/footer.png") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.sfooter-inner a {
  opacity: 1;
  transition: opacity 0.3s linear;
}
.sfooter-inner a:hover {
  opacity: 0.7;
}

.sfooter-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sfooter-item1 {
  padding-top: 70px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
}

.sfooter-logo {
  margin-bottom: 30px;
}

.scontacts-title {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.sfooter-item2 {
  padding-top: 117px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.sfooter-contacts {
  text-align: right;
}

.scontacts-text {
  margin-bottom: 35px;
}

.scontacts-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  margin-bottom: 10px;
}
.scontacts-text p:last-child {
  margin-bottom: 0;
}
.scontacts-text p .sfooter-contacts {
  text-align: right;
}
.scontacts-text p a {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #fff;
}

.sfooter-social {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

.sfooter-policy {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.burger {
  display: none;
  width: 25px;
  height: 20px;
  cursor: pointer;
  position: relative;
  top: 40px;
}

.burger-item {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
  transition: all 0.3s linear;
}

.burger-item_first {
  top: 0;
}

.burger-item_second,
.burger-item_third {
  top: 50%;
  transform: translateY(-50%);
}

.burger-item_fourth {
  bottom: 0;
}

.burger__active .burger-item_first,
.burger__active .burger-item_fourth {
  opacity: 0;
}

.burger__active .burger-item_second {
  transform: translateY(-50%) rotate(45deg);
}

.burger__active .burger-item_third {
  transform: translateY(-50%) rotate(-45deg);
}

.modal-video {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(47, 72, 88, 0.9);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: all 0.8s ease 0s;
}
.modal-video:target {
  opacity: 1;
  visibility: visible;
}

.video-inner {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.video-inner .video-content {
  max-width: 100%;
  width: 912px;
  position: relative;
  margin-bottom: 5px;
}
.video-inner .video-content img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.video-inner .video-content .video-close {
  position: absolute;
  top: -10px;
  right: -40px;
}
.video-inner .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
}
.video-inner .video-name {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.cookies {
  display: flex;
  justify-content: center;
}
.cookies .cookies-inner {
  width: 818px;
  height: 105px;
  padding: 30px 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2f4858;
  border-radius: 8px;
}
.cookies .cookies-text {
  max-width: 376px;
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
}
.cookies .cookies-text .cookies-link {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  transition: opacity 0.3s linear;
}
.cookies .cookies-text .cookies-link:hover {
  opacity: 0.7;
}
.cookies .cookies-btn {
  width: 131px;
  height: 34px;
  border-radius: 17px;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s linear;
}
.cookies .cookies-btn.orange {
  background-color: #ffa800;
  color: #fff;
}
.cookies .cookies-btn.white {
  background-color: #fff;
  color: #2f4858;
  margin-left: 30px;
}
.cookies .cookies-btn:hover {
  background-color: #ffda16;
}

@media (max-width: 1299px) {
  .header-logo {
    z-index: 100;
  }

  .nav {
    display: none;
    flex-direction: column-reverse;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    padding-top: 190px;
  }
  .nav .nav-links {
    flex-direction: column;
    align-items: center;
  }
  .nav .nav-link {
    margin-right: 0;
    margin-bottom: 80px;
  }
  .nav .nav-link a {
    font-size: 24px;
    color: #000;
  }
  .nav .nav-lang {
    margin-right: 88px;
  }
  .nav .language-bar {
    display: flex;
    margin-bottom: 80px;
  }
  .nav .lang-link {
    padding-left: 0;
    font-size: 24px;
    color: #000;
    margin-right: 88px;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
  }
  .nav .lang-link:hover {
    border-bottom: 3px solid #ffa800;
  }
  .nav .lang-link:last-child {
    margin-right: 0;
  }
  .nav .other-lang {
    display: flex;
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
  }

  .show {
    display: flex;
  }

  .burger {
    display: block;
  }

  .purpose-item.item-left {
    padding-right: 60px;
  }

  .buttons-inner {
    padding: 0 80px;
  }

  .footer {
    display: none;
  }

  .sfooter {
    display: block;
  }
}
@media (max-width: 991px) {
  .intro-inner {
    min-height: 406px;
  }

  .about-content {
    padding: 0 23px;
  }

  .gallery {
    height: 216px;
  }

  .gallery-inner {
    height: 216px;
    margin: -25px 0;
  }

  .gallery-top {
    top: -15px;
  }

  .purpose {
    padding: 0 80px;
  }
  .purpose .purpose-item .purpose-item_icon {
    margin-left: 40px;
  }
  .purpose .purpose-item.item-left {
    padding-right: 0;
  }
  .purpose .purpose-item.item-left .purpose-item_text.text-left {
    margin-left: 0;
    margin-right: 0;
  }
  .purpose .purpose-item.item-left .purpose-item_icon {
    margin-right: 40px;
  }

  .buttons-title {
    width: 233px;
    text-align: center;
    font-size: 18px;
  }

  .buttons-inner {
    justify-content: space-between;
  }
  .buttons-inner .buttons-item {
    width: 233px;
  }
  .buttons-inner .buttons-title {
    flex: 1 1 auto;
  }

  .stories-inner {
    margin-bottom: 50px;
  }
  .stories-inner .stories-item {
    width: 143px;
    height: 143px;
  }
  .stories-inner .stories-item .stories-name {
    height: 143px;
  }
  .stories-inner .stories-item.hide-stories {
    display: none;
  }

  .stories-button {
    display: flex;
    justify-content: center;
  }
  .stories-button.hidden {
    display: none;
  }

  .team-subtitle {
    padding: 0 80px;
    font-size: 18px;
  }

  .team-inner {
    flex-direction: column;
    align-items: center;
  }
  .team-inner .member1, .team-inner .member2, .team-inner .member3 {
    width: 352px;
    height: auto;
  }
  .team-inner .member1, .team-inner .member2 {
    margin-bottom: 25px;
  }
  .team-inner .team-member {
    width: 352px;
  }

  .purpose-inner .purpose-title {
    margin-bottom: 30px;
  }

  .sponsors-inner {
    padding: 0 80px;
    height: 300px;
  }

  .sponsors-title {
    padding-top: 56px;
    margin-bottom: 25px;
  }

  .sponsors-content {
    display: flex;
    justify-content: space-between;
  }

  .sponsors-logo img.small {
    display: block;
    height: 71px;
    padding: 12px 0;
  }

  .sponsors-logo img.large {
    display: block;
    height: 71px;
    padding: 0;
  }

  .footer-inner {
    margin-top: -45px;
    padding: 0 80px;
  }

  .sfooter-inner {
    margin-top: -35px;
  }

  .video-inner .video-content {
    max-width: 608px;
    height: 341px;
  }
  .video-inner .play-icon {
    width: 85px;
  }
}
@media (max-width: 767px) {
  .header-inner {
    height: 63px;
  }

  .nav {
    padding-top: 92px;
  }
  .nav .nav-link {
    margin-bottom: 40px;
  }
  .nav .nav-link a {
    font-size: 18px;
  }
  .nav .nav-lang {
    margin-right: 20px;
  }
  .nav .language-bar {
    margin-bottom: 40px;
  }
  .nav .lang-link {
    font-size: 18px;
    margin-right: 20px;
  }

  .burger {
    top: 20px;
    width: 15px;
    height: 15px;
  }

  .header-inner {
    padding: 0 20px;
  }

  .header-logo {
    margin-bottom: 12px;
  }

  .header-logo img {
    max-width: 78px;
  }

  .intro-inner {
    margin-top: -15px;
    min-width: 320px;
    min-height: 276px;
    margin-bottom: 80px;
    background-size: cover;
  }

  .intro-item img {
    width: 50px;
  }

  .about-content {
    padding: 0 20px;
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
    margin-bottom: 80px;
  }

  .gallery {
    height: auto;
    margin-bottom: 120px;
  }

  .gallery-bottom {
    position: absolute;
    bottom: -15px;
  }

  .gallery-inner {
    height: auto;
    margin: -16px 0;
    grid-template-columns: auto auto;
  }

  .buttons-inner {
    padding: 0 20PX;
    flex-direction: column;
  }

  .buttons-item {
    width: 100%;
  }

  .buttons-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
  }

  .buttons-btn {
    margin-bottom: 80px;
  }

  .communication-inner {
    padding: 0 20px;
  }

  .communication-title {
    font-size: 24px;
    padding-top: 40px;
    margin-bottom: 30px;
  }

  .communication-form input,
.communication-form textarea {
    margin-bottom: 10px;
    font-size: 17px;
  }

  .double-form {
    flex-direction: column;
  }
  .double-form input {
    min-width: auto;
  }

  .form-text {
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    margin-bottom: 10px;
  }

  .comments-check p {
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
  }

  .sponsors-inner {
    padding: 0 20px;
    height: 400px;
    align-items: center;
    justify-content: start;
  }

  .sponsors-title {
    margin-bottom: 60px;
  }

  .sponsors-content {
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .sfooter-inner {
    margin-top: -60px;
    padding: 0 20px;
  }

  .sfooter-content {
    flex-direction: column;
  }

  .sfooter-item1 {
    margin-bottom: 30px;
  }

  .sfooter-logo {
    margin-bottom: 25px;
  }

  .sfooter-logo img {
    width: 100px;
    height: 100px;
  }

  .scontacts-title {
    font-size: 18px;
  }

  .sfooter-item2 {
    padding-top: 0;
  }

  .sfooter-contacts {
    text-align: left;
  }

  .scontacts-text p {
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    margin-bottom: 10px;
  }
  .scontacts-text p:last-child {
    margin-bottom: 0;
  }
  .scontacts-text p .sfooter-contacts {
    text-align: right;
  }
  .scontacts-text p a {
    font-size: 14px;
    line-height: 17px;
    color: #fff;
  }

  .sfooter-social {
    justify-content: flex-start;
  }

  .social-icon img {
    height: 25px;
  }

  .sfooter-policy {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    line-height: 13px;
  }
  .sfooter-policy p {
    margin-bottom: 5px;
  }
  .sfooter-policy a {
    font-size: 11px;
  }

  .burger {
    padding: 0;
  }

  .burger-item {
    width: 18px;
  }

  .burger-item:before {
    top: -6px;
  }

  .burger-item:after {
    bottom: -6px;
  }

  .video-inner .video-content {
    max-width: 500px;
    height: 280px;
  }
}
@media (max-width: 567px) {
  .sponsors-logo:nth-child(3) {
    padding-right: 25px;
  }

  .sponsors-logo:last-child {
    padding-right: 35px;
  }

  .intro-inner.intro-inner_bank {
    min-height: 180px;
  }
  .intro-inner.intro-inner_bank .intro-item {
    top: 36%;
    left: 42%;
  }

  .idea-intro .idea-intro_title {
    font-size: 36px;
    padding: 0 20px;
    text-align: center;
    line-height: 1.6;
  }
  .idea-intro .idea-intro_subtitle {
    font-size: 14px;
  }
  .idea-intro .idea-intro_subtitle.more {
    padding: 0 20px;
    font-size: 18px;
    margin-bottom: 80px;
  }
  .idea-intro .idea-intro_text {
    margin-bottom: 80px;
    font-size: 12px;
  }
  .idea-intro .idea-intro_text.short {
    padding: 0 20px;
  }
  .idea-intro .idea-intro_text.bottom95 {
    margin-bottom: 80px;
    padding: 0 20px;
    font-size: 14px;
  }

  .idea-hero {
    height: 476px;
  }
  .idea-hero .idea-hero__content {
    font-size: 18px;
  }

  .idea-feedback__slider .idea-feedback__title {
    font-size: 18px;
  }
  .idea-feedback__slider .idea-feedback__subtitle {
    font-size: 14px;
  }
  .idea-feedback__slider .idea-feedback__text {
    font-size: 12px;
  }

  .dreams {
    flex-direction: column;
  }
  .dreams .dreams-item {
    margin: 0 20px;
  }
  .dreams .dreams-item .dreams-title {
    font-size: 18px;
  }
  .dreams .dreams-item .dreams-text {
    font-size: 12px;
  }

  .comments-after .after-title {
    font-size: 18px;
  }
  .comments-after .after-text {
    font-size: 14px;
  }

  .purpose {
    padding: 0 20px;
  }
  .purpose .purpose-title {
    margin-bottom: 60px;
    font-size: 24px;
  }
  .purpose .purpose-item {
    flex-direction: column;
    margin-bottom: 60px;
  }
  .purpose .purpose-item .purpose-item_icon {
    margin: 0 0 20px 0;
  }
  .purpose .purpose-item .purpose-item_text {
    width: 100%;
    font-size: 12px;
    text-align: center;
  }
  .purpose .purpose-item.item-left .purpose-item_text.text-left {
    order: 2;
  }
  .purpose .purpose-item.item-left .purpose-item_icon {
    order: 1;
    margin-right: 0;
  }
  .purpose .purpose-item.item-last {
    margin-bottom: 120px;
  }

  .purpose-inner .purpose-title {
    font-size: 24px;
  }

  .mission-inner {
    padding: 0 20px;
  }
  .mission-inner .mission-title {
    margin-bottom: 25px;
    font-size: 24px;
  }

  .mission-subtitle {
    margin-bottom: 120px;
    padding: 0 20px;
    font-size: 18px;
  }

  .mission-union {
    padding: 0 20px;
  }
  .mission-union .mission-img img {
    width: 100%;
    object-position: 50% 50%;
    object-fit: cover;
  }
  .mission-union .mission-text {
    font-size: 18px;
  }

  .selection-inner {
    flex-direction: column;
    padding: 0 20px;
  }
  .selection-inner .selection-item {
    width: 100%;
    margin-bottom: 120px;
  }
  .selection-inner .selection-item.up {
    margin-top: 0;
    margin-bottom: 60px;
  }
  .selection-inner .selection-item .selection-text {
    font-size: 18px;
  }

  .buttons-inner {
    align-items: center;
  }
  .buttons-inner .buttons-btn.btn-last {
    margin-bottom: 180px;
  }

  .support-form .form {
    flex-direction: column;
  }

  .map-inner {
    height: 606px;
  }
  .map-inner .map-tools {
    display: none;
  }
  .map-inner .info {
    display: none;
  }
  .map-inner .info .info-inner {
    width: 280px;
    height: 200px;
    padding: 15px 15px 15px 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 54%;
    left: 6%;
  }
  .map-inner .info .info-inner .info-content .info-content_name {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .map-inner .info .info-inner .info-content .info-content_contacts {
    font-size: 14px;
    line-height: 1.2;
  }

  .stories-inner .stories-item {
    width: 134px;
    height: 134px;
  }
  .stories-inner .stories-item .stories-name {
    height: 134px;
  }

  .purpose-inner .purpose-title {
    margin-bottom: 30px;
  }

  .team-subtitle {
    width: 100%;
    padding: 0 20px;
    font-size: 14px;
  }

  .team-inner .member1, .team-inner .member2, .team-inner .member3 {
    width: 280px;
    height: 354px;
  }
  .team-inner .team-member {
    width: 280px;
    height: 354px;
  }

  .video-inner .video-content {
    max-width: 279px;
    height: 156px;
  }
  .video-inner .video-content .video-close {
    position: absolute;
    top: -40px;
    right: 0;
  }
  .video-inner .play-icon {
    width: 50px;
  }
}